body
{
	background-color: #dda;
}

a
{
	text-decoration: none;
}

#header
{
	margin: 0.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid #f22;
	font-family: Arial, sans-serif;
	font-style: italic;
	color: #ffc;
}

.mail
{
	display: block;
	border: 1px solid #ffc;

	margin: 1em;
	margin-right: 0;
	padding: 0.7em 0 0.7em 0.7em;
}

.mail .mail
{
	border: none;
	margin-left: 2em;
	margin-top: 0.3em;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

span
{
	color: #f22;
	font-family: Arial, sans-serif;
}

.subject
{
	font-weight: bold;
}

.author
{
	margin-right: 1em;
	font-style: italic;
}

.sectiontitle
{
	color: #ffc;
	margin-left: 1em;
	font-style: italic;
	font-weight: bold;
	font-size: 18;
}

.index
{
    color: #aaa;
}

