body
{
	background-color: #dda;
}

a
{
	text-decoration: none;
	color: #f22;
}

#header
{
	margin: 0.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid #f22;
	font-family: Arial, sans-serif;
	font-style: italic;
	color: #ffc;
}

.postbox
{
	display: block;
	border: 1px solid #ffc;

	margin: 1em;
	margin-right: 0;
	padding: 0.7em 0 0.7em 0.7em;
}

.postbox .postbox
{
	border: none;
	margin-left: 0.5em;
	margin-top: 0.3em;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

span, td
{
	color: #f22;
	font-family: Arial, sans-serif;
}

td
{
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* subject */

.subject
{
	font-weight: bold;
}

.subject a:link
{
	color: #000;
    text-decoration: underline;
}

.subject a:visited
{
	color: #888;
    text-decoration: underline;
}

.subject a:active
{
	color: #888;
}

.subject .star a:link
{
    text-decoration: none;
}

.subject .star a:visited
{
    text-decoration: none;
}

.subject .star a:active
{
    text-decoration: none;
}

/* index */

.index
{
    color: #aaa;
}

.index a:link
{
	color: #aaa;
}

.index a:visited
{
	color: #aaa;
}

.index a:active
{
	color: #aaa;
}

.post_inactive span a
{
    color: gray;
}

/* author, sectiontitle */

.author
{
	margin-right: 1em;
	font-style: italic;
}

.sectiontitle
{
	color: #ffc;
	margin-left: 1em;
	font-style: italic;
	font-weight: bold;
	font-size: 18;
}

