.review-needed-thread .postbox
{
    border: 4px solid #080;
}

.postbox .postbox
{
	border: none;
}

.review-needed-post > .postsummary
{
    border: 1px solid #080;
}

.open-issue .postbox
{
    background-color: #f88;
}

.tags
{
	color: #006;
}

.tags .important
{
	color: #f00;
}

.tags .important
{
	color: #f00;
}
