.review-needed-thread .post-box
{
    border: 4px solid #080;
}

.post-box .post-box
{
	border: none;
}

.review-needed-post > .post-summary
{
    border: 1px solid #080;
}

.open-issue .post-box
{
    background-color: #f88;
}

.tags
{
	color: #006;
}

.tags .important
{
	color: #f00;
}

.tags .important
{
	color: #f00;
}
